<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parsing</title>
</head>
<body>
<a href="/index">Back</a>
<p th:text="${web.nameWeb}"></p>
<br/>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>cnt</th>
    <tr/>
    <tr th:each="w : ${list}">
        <td th:text="${w.id}">id</td>
        <td th:text="${w.name}">name</td>
        <td th:text="${w.cnt}">cnt</td>
    </tr>
</table>

</body>
</html>